
extends ../templates/layout
block content 
    div(class="content full-width")
        div(class="content-main")
            div.video-container
                iframe(width="100%" height="100vh" src="https://www.youtube.com/embed/6D6m0C9L_hY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

        div(class="content-nav full-width")
            span 
                a(href='javascript:window.history.back();') ← &nbsp; 이전
            span(class="current") 현재위치: 설치부터 완성까지!
            
block footer
    script(src="../pre-js/modal.js")
    script. 
        const currentLink = document.querySelector("#nav-end");
        currentLink.classList.add("active");