extends ../templates/layout
block content 
    div(class="content full-width")
        div(class="content-main")
            div.display-wrap 
                h1 주요 전시품 - 기획1실
                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-01.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 종의 기원(제6판) - On the Origin of Species
                            tr 
                                td 저자
                                td 찰스 다윈(Charles Robert Darwin, 1809~1882)
                            tr 
                                td 크기
                                td 21.0cm
                            tr 
                                td 출판일
                                td 1872년
                            tr 
                                td 소장처
                                td 국립중앙도서관
                
                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-02.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 필트다운 인 Piltdown man
                            tr 
                                td 발견자
                                td 찰스 도슨(Charles Dawson, 1864～1916)
                            tr 
                                td 크기
                                td 22.0 x 16.0 x 19.0cm 
                            tr 
                                td 발견시기
                                td 1912년
                           

                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-03.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 사헬란트로푸스 차덴시스 Sahelanthropus tchadensis
                            tr 
                                td 의미
                                td 차드에 살았던 ‘사헬’이라는 인류
                            tr 
                                td 살던 시기
                                td 700만~600만 년 전
                            tr 
                                td 별명
                                td 투마이Toumaï(차드어로 ‘삶의 희망’이라는 뜻)
                            tr 
                                td 특징
                                td 최초의 직립보행한 고인류이며, 뇌 용량은 침팬지와 유사하다.
                            tr 
                                td 발견된 곳
                                td 아프리카 차드 Chad 공화국
                            tr 
                                td 발견한 사람
                                td 미셸 브루네 Michel Brunet 연구팀, 2002년

                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-04.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 아르디피테쿠스 라미두스 Ardipithecus ramidus
                            tr 
                                td 의미
                                td 라미두스의 유인원. Ardi는 ‘땅’ 혹은 ‘평지’, Ramid는 ‘뿌리’, Pithecus는 ‘유인원’이라는 뜻으로, 땅 위에서 사는 호미니드의 가장 뿌리가 되는 종을 의미한다.
                            tr 
                                td 살던 시기
                                td 440만 년 전
                            tr 
                                td 별명
                                td 아르디Ardi
                            tr 
                                td 특징
                                td 키 120cm, 몸무게 54kg으로 나무 타기와 직립보행이 모두 가능하다.
                            tr 
                                td 발견된 곳
                                td 아프리카 에티오피아 아파르 Afar 지역
                            tr 
                                td 발견한 사람
                                td 팀 화이트Tim White, 1992년

                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-05.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 오스트랄로피테쿠스 아파렌시스 Australopithecus afarensis
                            tr 
                                td 의미
                                td 아프리카 남쪽의 연약한 유인원
                            tr 
                                td 살던 시기
                                td 360만~290만 년 전
                            tr 
                                td 특징
                                td 뇌 용량이 375~500cc이고, 긴 팔, 납작한 코, 강한 턱을 가졌으며 직립보행이 가능하다.
                            tr 
                                td 발견된 곳
                                td 아프리카
                
                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-06.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 오스트랄로피테쿠스 아프리카누스 Australopithecus africanus Selam
                            tr 
                                td 의미
                                td 아프리카 남쪽의 유인원
                            tr 
                                td 살던 시기
                                td 330만 년 전
                            tr 
                                td 별명
                                td 디키카 베이비 Dikika Baby, 루시의 아기 Lucy’s Child, 셀람 Selam(‘평화’를 의미한다.)
                            tr 
                                td 특징
                                td 나무 타기와 직립보행이 모두 가능하다. 여성이며 나이는 3세로 추정된다.
                            tr 
                                td 발견된 곳
                                td 아프리카 에티오피아 하다르 Hadar
                            tr 
                                td 발견한 사람
                                td 제레세나이 알렘세게드 Zeresenay Alemseged, 2000년
                div(class="display wide")
                    div.display-img
                        img(src="../assets/dp/dp-1-07.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 오스트랄로피테쿠스 아파렌시스 Australopithecus afarensis
                            tr 
                                td 의미
                                td 아프리카 남쪽의 연약한 유인원
                            tr 
                                td 살던 시기
                                td 320만 년 전
                            tr 
                                td 별명
                                td 루시. 탐사팀 캠프에서 자주 틀어놓은 비틀스의 곡 「다이아몬드가 수놓인 하늘의 루시Lucy in the Sky with Diamonds」에서 유래했다.
                            tr 
                                td 특징
                                td 직립보행이 뇌 발달이나 도구 제작보다 먼저 나타난 인류 진화의 특징임을 알 수 있다. 키는 110cm, 몸무게는 29kg이며, 뼈의 골절 형태로 볼 때 높은 곳에서 떨어져 추락사한 것으로 추정된다.
                            tr 
                                td 발견된 곳
                                td 아프리카 에티오피아 하다르 Hadar 지역
                            tr 
                                td 발견한 사람
                                td 도널드 조핸슨 Donald Johanson, 1974년

                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-08.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 오스트랄로피테쿠스 아프리카누스 Australopithecus africanus Mrs. Ples
                            tr 
                                td 의미
                                td 아프리카 남쪽의 유인원
                            tr 
                                td 살던 시기
                                td 250만 년 전
                            tr 
                                td 특징
                                td 뇌 용량은 약 485cc로 원숭이의 뇌와 비슷하다. 두개골이 둥글고 얼굴이 비교적 적게 돌출되어 있다.
                            tr 
                                td 발견된 곳
                                td 아프리카 남아프리카공화국 트란스발(지금의 가우텡) 주 스테르크폰테인 Sterkfontein
                            tr 
                                td 발견한 사람
                                td 로버트 브룸Robert Broom과 존 로빈슨John Robinson, 1947년                               

                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-09.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 오스트랄로피테쿠스 아프리카누스 Australopithecus africanus Taung Child
                            tr 
                                td 의미
                                td 아프리카 남쪽의 유인원
                            tr 
                                td 살던 시기
                                td 230만 년 전
                            tr 
                                td 별명
                                td 타웅 아이
                            tr 
                                td 특징
                                td 태어난 지 3년 반 만에 독수리에게 잡아먹힌 것으로 추정된다. 안구 안쪽에 독수리가 눈을 찍은 흔적이 보인다. 뇌 용량은 405cc로 추정된다.
                            tr 
                                td 발견된 곳
                                td 아프리카 남아프리카공화국 타웅 Taung
                            tr 
                                td 발견한 사람
                                td 레이먼드 다트 Raymond Dart, 1924년

                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-10.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 파란트로푸스 보이세이 Paranthropus boisei OH 5 Zinjanthropus
                            tr 
                                td 의미
                                td 건장한 유인원
                            tr 
                                td 살던 시기
                                td 180만 년 전
                            tr 
                                td 별명
                                td 호두 까는 사람 Nutcracker Man
                            tr 
                                td 특징
                                td 넓고 오목한 얼굴, 거대하고 평평한 어금니(현생인류의 약 4배), 두꺼운 턱 덕분에 씹는 능력이 탁월하다. 뇌 용량은 530cc, 몸무게는 약 45kg, 키는 100~150cm로 추정된다.
                            tr 
                                td 발견된 곳
                                td 아프리카 탄자니아 올두바이 협곡 Olduvai Gorge
                            tr 
                                td 발견한 사람
                                td 메리 리키 Mary Leakey, 1959년

                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-11.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 파란트로푸스 로부스투스 Paranthropus robustus DNH 7
                            tr 
                                td 의미
                                td 강건한 유인원. 파란트로푸스는 그리스어로 ‘너머’를 뜻하는 ‘para’와 ‘인간’을 뜻하는 ‘anthropos’의 합성어이다.
                            tr 
                                td 살던 시기
                                td 200만~150만 년 전
                            tr 
                                td 특징
                                td 지금까지 발견된 가장 온전한 형태의 파란트로푸스 로부스투스 두개골이다. 여성으로 추정되며, 키는 100cm, 몸무게는 40kg, 뇌 용량은 약 410~500cc이다.
                            tr 
                                td 발견된 곳
                                td 아프리카 남아프리카공화국 드리몰렌 Drimolen
                            tr 
                                td 발견한 사람
                                td 앙드레 케이세르 André Werner Keyser 연구팀, 1994년

                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-12.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 호모 루돌펜시스 Homo rudolfensis KNM-ER 1470
                            tr 
                                td 의미
                                td 루돌프 호수에서 발견된 사람
                            tr 
                                td 살던 시기
                                td 190만~180만 년 전
                            tr 
                                td 특징
                                td 몸집은 작았으나 뇌 용량은 800cc로 오스트랄로피테쿠스보다 상당히 크다.
                            tr 
                                td 발견된 곳
                                td 아프리카 케냐 쿠비포라 Koobi Fora 루돌프 호수 Rudolf Lake
                            tr 
                                td 발견한 사람
                                td 버나드 응게네오 Bernard Ngeneo, 1972년

                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-13.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 호모 하빌리스 Homo habilis KNM-ER 1813
                            tr 
                                td 의미
                                td 손재주 있는 사람
                            tr 
                                td 살던 시기
                                td 190만 년 전
                            tr 
                                td 특징
                                td 뇌 용량은 510cc이며, 일부 고인류학자들은 이 화석이 여성 호모 루돌펜시스KNM-ER 1470일 가능성을 제기한다.
                            tr 
                                td 발견된 곳
                                td 아프리카 케냐 쿠비포라 Koobi Fora
                            tr 
                                td 발견한 사람
                                td 카모야 키메우 Kamoya Kimeu, 1973년

                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-14.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 호모 하빌리스 Homo habilis OH 24
                            tr 
                                td 의미
                                td 손재주 있는 사람
                            tr 
                                td 살던 시기
                                td 180만 년 전
                            tr 
                                td 특징
                                td 뇌 용량이 600cc로 추정되어 뇌가 중국의 베이징인보다 작지만 오스트랄로피테쿠스 아프리카누스보다는 크다. 얼굴이 앞쪽으로 기울어져 있지만 오스트랄로피테쿠스 아프리카누스보다는 덜 돌출되어 있다.
                            tr 
                                td 발견된 곳
                                td 아프리카 탄자니아 올두바이 협곡 Olduvai Gorge
                            tr 
                                td 발견한 사람
                                td 피터 은주베 Peter Nzube, 1968년


                div(class="display wide")
                    div.display-img
                        img(src="../assets/dp/dp-1-15.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 호모 에렉투스 Homo erectus Dmanisi Skull 5
                            tr 
                                td 의미
                                td 드마니시에서 발견된 곧선사람
                            tr 
                                td 살던 시기
                                td 180만~170만 년 전
                            tr 
                                td 별명
                                td 드마니시인. 발견지 명칭을 따라 호모 게오르기쿠스 Homo [erectus ] georgicus 라고도 부른다.                                
                            tr 
                                td 특징
                                td 성인 남성이고 드마니시 유적에서 발견된 가장 완전한 두개골이다. 씹는 근육이 발달했고 눈썹 융기가 두꺼우며, 어금니가 크다. 뇌 용량은 546cc이다.
                            tr 
                                td 발견된 곳
                                td 유럽 조지아공화국 드마니시
                            tr 
                                td 발견한 사람
                                td 데이비드 로드키파니제 David Lordkipanidze, 2005년

                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-16.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 호모 에렉투스 Homo erectus Dmanisi Skull 3
                            tr 
                                td 의미
                                td 드마니시에서 발견된 곧선사람
                            tr 
                                td 살던 시기
                                td 180만~170만 년 전
                            tr 
                                td 별명
                                td 드마니시인. 발견지 명칭을 따라 호모 게오르기쿠스라고 부르기도 함.                     
                            tr 
                                td 특징
                                td 성별은 확실하지 않고 성장기가 거의 끝난 성인으로 추정되며 뇌 용량은 600cc이다.
                            tr 
                                td 발견된 곳
                                td 유럽 조지아공화국 드마니시
                            tr 
                                td 발견한 사람
                                td 데이비드 로드키파니제 David Lordkipanidze, 2001년

                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-17.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 호모 에렉투스 Homo erectus Dmanisi Skull 2
                            tr 
                                td 의미
                                td 드마니시에서 발견된 곧선사람
                            tr 
                                td 살던 시기
                                td 180만~170만 년 전
                            tr 
                                td 별명
                                td 드마니시인. 발견지 명칭을 따라 호모 게오르기쿠스라고 부르기도 함.                     
                            tr 
                                td 특징
                                td 드마니시인은 유라시아에서 가장 오래된 화석으로 초기 호모속의 특징을 잘 보여준다. 아프리카를 벗어난 최초의 고인류이다. 이 화석은 젊은 여성의 것이며 뇌 용량은 660cc로 추정된다.
                            tr 
                                td 발견된 곳
                                td 유럽 조지아공화국 드마니시
                            tr 
                                td 발견한 사람
                                td 데이비드 로드키파니제 David Lordkipanidze, 1999년


                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-18.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 호모 에렉투스 Homo erectus Dmanisi Skull 4
                            tr 
                                td 의미
                                td 드마니시에서 발견된 곧선사람
                            tr 
                                td 살던 시기
                                td 180만~170만 년 전
                            tr 
                                td 별명
                                td 드마니시인. 발견지 명칭을 따라 호모 게오르기쿠스라고 부르기도 함.                     
                            tr 
                                td 특징
                                td 드마니시인. 발견지 명칭을 따라 호모 게오르기쿠스라고 부르기도 함. 특징 성인 남성(노인)이고, 사망하기 몇 년 전에 치아 손실이 발생했음을 알 수 있다. 동료 드마니시인이 보살펴 주었을 것으로 추정된다.
                            tr 
                                td 발견된 곳
                                td 유럽 조지아공화국 드마니시
                            tr 
                                td 발견한 사람
                                td 데이비드 로드키파니제 David Lordkipanidze, 2002~2003년

                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-19.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 호모 에렉투스 Homo erectus Dmanisi Skull 1
                            tr 
                                td 의미
                                td 드마니시에서 발견된 곧선사람
                            tr 
                                td 살던 시기
                                td 180만~170만 년 전
                            tr 
                                td 별명
                                td 드마니시인. 발견지 명칭을 따라 호모 게오르기쿠스라고 부르기도 함.                     
                            tr 
                                td 특징
                                td 뇌 용량 775cc이고, 성인 남성이다. 눈에 띄는 안와, 두꺼운 눈썹 융기, 두꺼운 두개골 뼈가 특징이다.
                            tr 
                                td 발견된 곳
                                td 유럽 조지아공화국 드마니시
                            tr 
                                td 발견한 사람
                                td 데이비드 로드키파니제 David Lordkipanidze, 1999년


                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-20.jpg")
                    div.display-text 
                        p 호모 에르가스테르(왼쪽)
                        p 오스트랄로피테쿠스 아파렌시스(루시, 가운데) 
                        p 호모 네안데르탈렌시스(오른쪽)


                div(class="display wide")
                    div.display-img
                        img(src="../assets/dp/dp-1-21.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 호모 에렉투스 Homo erectus pekinesis Peking Man
                            tr 
                                td 의미
                                td 베이징에서 발견된 곧선사람
                            tr 
                                td 살던 시기
                                td 60만~30만 년 전
                            tr 
                                td 별명
                                td 베이징인                   
                            tr 
                                td 특징
                                td 호모 에렉투스가 동아시아까지 이동한 증거이며, 인류 진화 과정을 설명하는 데 중요한 단서이다. 중일전쟁이 일어나자 안전한 조사를 위해 미국으로 운송하려고 했으나 도중에 분실됐다.
                            tr 
                                td 발견된 곳
                                td 아시아 중국 베이징 저우커우뎬周口店
                            tr 
                                td 발견한 사람
                                td 페이원중 裴文中, 1929년

                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-22.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 호모 에렉투스 Homo erectus Sangiran 17
                            tr 
                                td 의미
                                td 상기란에서 발견된 곧선사람
                            tr 
                                td 살던 시기
                                td 80만 년 전
                            tr 
                                td 별명
                                td 상기란인
                            tr 
                                td 특징
                                td 뇌 용량이 1,000cc여서 호모 사피엔스의 뇌 용량에 가깝다. 대퇴골도 발달하여 현대인의 신체 모습과 유사하다.
                            tr 
                                td 발견된 곳
                                td 아시아 인도네시아 자바섬 상기란 Sangiran
                            tr 
                                td 발견한 사람
                                td 토위크로모 Towikromo, 1969년

                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-23.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 호모 안테세소르 Homo antecessor Atapuerca 5
                            tr 
                                td 의미
                                td 아타푸에르카에서 발견된 사람. 안테세소르antecessor는 라틴어이며 개척자pioneer를 뜻한다.
                            tr 
                                td 살던 시기
                                td 50만~35만 년 전
                            tr 
                                td 특징
                                td 키는 160~180cm, 몸무게는 90kg, 뇌 용량은 1,000~1,150cc로 추정된다.
                            tr 
                                td 발견된 곳
                                td 유럽 스페인 시마 데 로스 우에소스 Sima de los Huesos 아타푸에르카 Atapuerca
                            tr 
                                td 발견한 사람
                                td 후앙 루이스 아르수아가 Juan-Luis Arsuaga, 1992년


                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-24.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 호모 하이델베르겐시스 Homo heidelbergensis Broken Hill 1
                            tr 
                                td 의미
                                td 로데시아에서 발견된 사람
                            tr 
                                td 살던 시기
                                td 12.5만 년 전
                            tr 
                                td 별명
                                td 로데시아인 Homo rhodesiensis
                            tr 
                                td 특징
                                td 넓은 얼굴, 두꺼운 눈썹, 경사진 이마, 1,300cc에 달하는 큰 뇌 용량은 호모 에렉투스, 호모 사피엔스와 유사한 특징이다. 10개의 치아에서 심한 충치가 발견됐다.
                            tr 
                                td 발견된 곳
                                td 아프리카 잠비아 로데시아 Rhodesia (지금의 카브웨Kabwe)
                            tr 
                                td 발견한 사람
                                td 톰 츠비글라 Tom Zwiglaar, 1921년

                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-25.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 호모 네안데르탈렌시스 Homo neanderthalensis Teshik-Tash Child
                            tr 
                                td 의미
                                td 테시크-타시에서 발견된 아이
                            tr 
                                td 살던 시기
                                td 7만 년 전
                            tr 
                                td 특징
                                td 네안데르탈인이 발견된 지역 중 가장 동쪽에서 발굴됐다. 9세로 추정되며 큰 얼굴과 콧구멍, 길고 낮은 두개골, 턱선이 완만한 하악골, 발달한 눈썹 등 네안데르탈인의 특징이 잘 보인다.
                            tr 
                                td 발견된 곳
                                td 아시아 우즈베키스탄 테시크-타시 Teshik-Tash
                            tr 
                                td 발견한 사람
                                td 알렉세이 오클라드니코프 Alexey Okladnikov, 1938년

                div(class="display wide")
                    div.display-img
                        img(src="../assets/dp/dp-1-26.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 호모 네안데르탈렌시스 Homo neanderthalensis Shanidar 1
                            tr 
                                td 의미
                                td 샤니다르에서 발견된 사람
                            tr 
                                td 살던 시기
                                td 7.3만~4만 년 전
                            tr 
                                td 별명
                                td 샤니다르인
                            tr 
                                td 특징
                                td 나이는 40~45세이고 두개와 안와에 골절이 치유된 흔적이 있으며, 위팔뼈, 허리뼈, 등뼈에 심각한 외상을 많이 입고도 살아남았다. 죽기 전에 동료 네안데르탈인의 돌봄을 받은 것으로 추정된다.
                            tr 
                                td 발견된 곳
                                td 아시아 이라크 샤니다르 Shanidar 동굴
                            tr 
                                td 발견한 사람
                                td 랠프 솔레키Ralph Solecki 연구팀, 1957년

                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-27.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 호모 네안데르탈렌시스 Homo neanderthalensis Shanidar 1
                            tr 
                                td 의미
                                td 라페라시에서 발견된 사람
                            tr 
                                td 살던 시기
                                td 5만 년 전
                            tr 
                                td 특징
                                td 얼굴이 돌출되고 이마가 낮은 아치형 두개골, 뚜렷한 이중 눈썹, 넓은 광대뼈, 약한 턱, 심하게 마모된 앞니가 특징이다. 상당히 큰 비강 구조를 지니고 있고 뇌 용량은 1,600cc, 키는 160cm이다.
                            tr 
                                td 발견된 곳
                                td 유럽 프랑스 라페라시 La Ferrassie
                            tr 
                                td 발견한 사람
                                td 루이 카피탕 Louis Capitan과 데니스 페이로니 Denis Peyrony, 1909년

                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-28.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 호모 네안데르탈렌시스 Homo neanderthalensis La Chapelle-aux-saints
                            tr 
                                td 의미
                                td 라샤펠오생에서 발견된 사람
                            tr 
                                td 살던 시기
                                td 5만 년 전
                            tr 
                                td 특징
                                td 가장 완벽한 형태로 발견된 네안데르탈인의 두개골이다. 노인으로 추정되며 어금니 부위가 약하고 목에 심한 관절염이 있는 등 많은 질병을 앓으면서도 오래 살았다. 동료의 돌봄을 받은 것으로 추정된다. 뇌 용량은 1,600cc여서 현생인류보다 컸다.
                            tr 
                                td 발견된 곳
                                td 유럽 프랑스 라샤펠오생La Chapelle-aux-Saints
                            tr 
                                td 발견한 사람
                                td 부이소니 형제 Jean and Amédée Bouyssonie, 조제프 본발 Josef Bonneval, 1908년

                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-29.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 호모 사피엔스 이달투 Homo sapiens idaltu BOU-VP-16/1
                            tr 
                                td 의미
                                td 호모 사피엔스의 조상. ‘이달투’는 에티오피아어로 ‘조상(오래된 사람)’이라는 뜻이다.
                            tr 
                                td 살던 시기
                                td 16만~15.4만 년 전
                            tr 
                                td 특징
                                td 뇌 용량이 1,450cc인 성인이며, 현생인류가 아프리카에서 나왔다는 아프리카 기원설을 설명하는 데 중요한 근거이다. 튀어나온 이마와 좁은 눈썹, 평평한 얼굴 등이 현생인류와 거의 비슷하다. 도구 제작, 수렵, 어로, 종교 의식을 행한 것으로 추정된다.
                            tr 
                                td 발견된 곳
                                td 아프리카 에티오피아 헤르토 Herto
                            tr 
                                td 발견한 사람
                                td 팀 화이트 Tim White 연구팀, 1997년

                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-30.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 호모 사피엔스 Homo sapiens Skhul 5
                            tr 
                                td 의미
                                td 스쿨서 발견된 사람
                            tr 
                                td 살던 시기
                                td 10만 년 전
                            tr 
                                td 특징
                                td 아프리카 밖에서 발견된 호모 사피엔스의 초기 사례로 널리 알려졌다. 뇌 용량이 1,520cc이고 이마가 높으며, 앞쪽이 확장되고 뒤쪽이 둥근 두개골이 특징이다.
                            tr 
                                td 발견된 곳
                                td 아시아 이스라엘 스쿨 Skhul 동굴
                            tr 
                                td 발견한 사람
                                td 시어도어 매카운Theodore McCown, 1932년


                div(class="display wide")
                    div.display-img
                        img(src="../assets/dp/dp-1-31.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 호모 사피엔스 Homo sapiens
                            tr 
                                td 의미
                                td 크로마뇽에서 발견된 사람
                            tr 
                                td 별명
                                td 크로마뇽인. 크로마뇽Cro-Magnon은 ‘큰 절벽’을 의미함.
                            tr 
                                td 살던 시기
                                td 3.2만~3만 년 전
                            tr 
                                td 특징
                                td 큰 뇌 용량(1,300~1,600cc), 눈구멍이 직사각형인 짧은 얼굴형, 높은 이마, 속이 빈 광대뼈, 눈에 띄는 턱 등 고전적인 현대인의 특징을 잘 보여준다.
                            tr 
                                td 발견된 곳
                                td 유럽 프랑스 레제지 Les-Eyzies
                            tr 
                                td 발견한 사람
                                td 에두아르 라르테 Édouard Lartet, 앙리 크리스티 Henry Christy, 1868년

                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-32.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 호모 플로레시엔시스 Homo floresiensis
                            tr 
                                td 의미
                                td 플로레스섬에서 발견된 사람
                            tr 
                                td 별명
                                td 호빗 (키가 작아 영화에 등장하는 호빗으로 불림)
                            tr 
                                td 살던 시기
                                td 1.8만 년 전
                            tr 
                                td 특징
                                td 골반의 특징으로 볼 때 여성으로 분류된다. 키는 약 100cm, 뇌 용량은 380cc이다. 석기와 동물 도살 증거가 유적에서 발견됐다. 호모 사피엔스나 호모 에렉투스 개체가 섬에 고립되어 왜소화했을 가능성을 비롯해 많은 논란이 일어났다.
                            tr 
                                td 발견된 곳
                                td 아시아 인도네시아 플로레스섬
                            tr 
                                td 발견한 사람
                                td 피터 브라운Peter Brown 연구팀, 2003년


                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-33a.jpg")
                    div.display-text 
                        h6 골반뼈 비교
                        p (왼쪽: 침팬지, 오른쪽: 인간)

                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-33b.jpg")
                    div.display-text 
                        h6 손의 비교(Comparison of hand shapes)
                        p 
                            | 1. 아르디피테쿠스 라미두스(Ardipithecus ramidus) 
                            br
                            | 2. 호모 플로레시엔시스(Homo floresiensis)
                            br
                            | 3. 호모 사피엔스(Homo sapiens)
                            br
                            | 4. 침팬지(Chimpanzee, Pan troglodytes)

                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-33c.jpg")
                    div.display-text 
                        h6 발의 비교(Comparison of foot shapes)
                        p 
                            | 1. 아르디피테쿠스 라미두스(Ardipithecus ramidus) 
                            br
                            | 2. 호모 플로레시엔시스(Homo floresiensis)
                            br
                            | 3. 호모 사피엔스(Homo sapiens)
                            br
                            | 4. 침팬지(Chimpanzee, Pan troglodytes)

                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-34.jpg")
                    div.display-text 
                        h6 뇌용량 비교
                        p 침팬지(왼쪽), 호모사피엔스(오른쪽)

                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-35.jpg")
                    div.display-text 
                        table 
                            tr 
                                td 이름
                                td 찍개 Chopper
                            tr 
                                td 출토지 
                                td 경기도 김포 신곡리•풍곡리 유적
                            tr 
                                td 길이
                                td 14.5cm
                            tr 
                                td 시기
                                td 전기 구석기
                            tr 
                                td 소장처
                                td 국립중앙박물관

                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-36.jpg")
                    div.display-text 
                         table 
                            tr 
                                td 이름
                                td 주먹도끼 Handaxes
                            tr 
                                td 출토지 
                                td 아프리카 이시밀라
                            tr 
                                td 길이
                                td 21.0cm(좌)
                            tr 
                                td 시기
                                td 전기 구석기
                            tr 
                                td 소장처
                                td 동아시아고고학연구소

                div.display
                    div.display-img
                        img(src="../assets/dp/dp-1-37.jpg")
                    div.display-text 
                        h6 표범에게 공격당한 흔적이 있는 파란트로푸스의 두개골


        div(class="content-nav full-width")
            span 
                a(href='javascript:window.history.back();') ← &nbsp; 돌아가기
            span(class="current") 현재위치: 기획1실 주요 전시품
            
block footer
    script(src="../pre-js/modal.js")
    script. 
        const currentLink = document.querySelector("#nav-1");
        currentLink.classList.add("active");