extends ../templates/layout
block content 
    div(class="content full-width")
        div(class="content-main")
            h1.index 기획2실 자료
            h3.index 동영상
            div.modal-wrap  
                a(data-modal="modal-21")
                    img(class="modal-thumb", src="../assets/thumbnail/1-1.jpg")
                    p 벽화 정보영상
                a(data-modal="modal-22")
                    img(class="modal-thumb", src="../assets/thumbnail/1-2.jpg")
                    p 유전자 정보영상
                a(data-modal="modal-23")
                    img(class="modal-thumb", src="../assets/thumbnail/1-3.jpg")
                    p 동굴영상 I
                a(data-modal="modal-24")
                    img(class="modal-thumb", src="../assets/thumbnail/1-4.jpg")
                    p 동굴영상 II
            h3.index 전시실 VR
            div.modal-wrap  
                a(href="./zone-01-vr.html")
                    img(class="modal-thumb vr-thumb", src="../assets/thumbnail/vr-01.jpg")
                    p 기획2실
            div(class="modal", id="modal-21")
                div(class="modal-bg modal-exit")
                div(class="modal-container")
                    video(controls, class="modalVideo")
                        source(src="../assets/videos2/04_벽화_정보영상.mp4", type="video/mp4")
                    button(class="modal-close modal-exit") X
            
            div(class="modal", id="modal-22")
                div(class="modal-bg modal-exit")
                div(class="modal-container")
                    video(controls, class="modalVideo")
                        source(src="../assets/videos2/05_유전자_정보영상.mp4", type="video/mp4")
                    button(class="modal-close modal-exit") X
            
            div(class="modal", id="modal-23")
                div(class="modal-bg modal-exit")
                div(class="modal-container")
                    video(controls, class="modalVideo")
                        source(src="../assets/videos2/동굴영상_작은벽(매머드 등).mp4", type="video/mp4")
                    button(class="modal-close modal-exit") X
            
            div(class="modal", id="modal-24")
                div(class="modal-bg modal-exit")
                div(class="modal-container")
                    video(controls, class="modalVideo")
                        source(src="../assets/videos2/동굴영상_큰벽(쇼베, 라스코 등).mp4", type="video/mp4")
                    button(class="modal-close modal-exit") X
            
            

        div(class="content-nav full-width")
            span 
                a(href='./zone-01-16-360.html') ← &nbsp; 이전
            span(class="current") 현재위치: 기획1실 자료
            span
                a(href='./zone-02.html') 다음 &nbsp; →
block footer
    script(src="../pre-js/modal.js")
    script. 
        const currentLink = document.querySelector("#nav-2");
        currentLink.classList.add("active");