extends ../templates/layout
block content 
    div(class="content")
        div(class="content-main")
            iframe(class="vtour", src="../assets/photo_vr_0916/vtour/tour.html")
            
        div(class="content-nav")
            span 
                a(href='./zone-00-index.html') ← &nbsp; 이전
            span(class="current") 현재위치: 기획1실 VR
            
