extends ../templates/layout
block content 
    div(class="content")
        div(class="content-main")
            video(class='video-js', data-setup='{"controls": true, "autoplay": "muted", "preload": "auto", "fluid": true, "aspectRatio": "16:9" }')
                source(src="../assets/videos2/connection.mp4", type="video/mp4")
            
        div(class="content-nav")
            span 
                a(href='./zone-01.html') ← &nbsp; 이전
            span(class="current") 현재위치: 연결로 영상
            span
                a(href='./zone-01-2.html') 다음 &nbsp; →
block info 
    div(class="info")
        div(class="info-top")
            h5 우리는 모두 호모 사피엔스 단일종입니다.
            p 기획2실로 가는 중간에 보이는 영상은 피부색과 생김새가 다른 다양한 인간의 모습을 보여주고 있습니다. 오늘날 지구상에는 78억 명이라는 다양한 인간이 있지만, 우리는 모두 호모 사피엔스라는 하나의 종입니다.
        div(class="info-bottom")
block footer
    script(src="../js/endAuto.js")
    script. 
        const currentLink = document.querySelector("#nav-c");
        currentLink.classList.add("active");