extends ../templates/layout
block content 
    div(class="content")
        div(class="content-main")
            video(class='video-js', data-setup='{"controls": true, "autoplay": "muted", "preload": "auto", "fluid": true, "aspectRatio": "16:9" }')
                source(src="../assets/videos/1_1b_warp.mp4", type="video/mp4")
            
        div(class="content-nav")
            span 
                a(href='./zone-00-5.html') ← &nbsp; 이전
            span(class="current") 현재위치: 화석
            span
                a(href='./zone-00-7.html') 다음 &nbsp; →
block info 
    div(class="info")
        div(class="info-top")
            audio(controls autoplay)
                source(src="../assets/voice/zone-00-6.mp3", type="audio/ogg")
                | 이 브라우저는 오디오를 지원하지 않습니다.
            h6 
                | 루시
                br
                | 오스트랄로피테쿠스 아파렌시스
            p 가장 널리 알려진 화석 중 하나인 ‘루시’(320만 년 전)를 볼 수 있습니다. 오스트랄로프테쿠스 아파렌시스의 대표적인 화석으로 인류의 진화과정에서 ‘큰 두뇌’보다 ‘직립보행’이 먼저라는 것을 보여주는 중요한 자료입니다. 또한 흥미로운 점은 키가 110cm 인데 청소년이 아닌 성인 여성이라는 점입니다.
            
        div(class="info-bottom")
block footer
    script(src="../js/endNext.js")
    script. 
        const currentLink = document.querySelector("#nav-1");
        currentLink.classList.add("active");