extends ../templates/layout
block content 
    div(class="content")
        div(class="content-main")
            video(class='video-js', data-setup='{"controls": true, "autoplay": "muted", "preload": "auto", "fluid": true, "aspectRatio": "16:9" }')
                source(src="../assets/videos2/cave_4.mp4", type="video/mp4")
            
        div(class="content-nav")
            span 
                a(href='./zone-01-6.html') ← &nbsp; 이전
            span(class="current") 현재위치: 아렌 캉디드의 무덤
            span
                a(href='./zone-01-8.html') 다음 &nbsp; →
block info 
    div(class="info")
        div(class="info-top")
            audio(controls autoplay)
                source(src="../assets/voice/zone-01-7.mp3", type="audio/ogg")
                | 이 브라우저는 오디오를 지원하지 않습니다.
            h5 아렌 캉디드의 무덤
            p 어린 왕자라고 불리는 호모 사피엔스의 무덤입니다. 조가비 모자, 목걸이, 조가비 팔찌, 상아 장신구, 돌날 등 화려한 장신구를 부장품으로 묻었습니다. 그리고 시신 주위에 붉은 흙을 뿌렸습니다. 네안데르탈인과 비교할 때 장례 의식이 더 복잡해졌음을 알 수 있습니다. 사후세계 등 인간에 대한 인식이 달라졌음을 짐작할 수 있습니다. 
        div(class="info-bottom")
block footer
    script(src="../js/endNext.js")
    script. 
        const currentLink = document.querySelector("#nav-2");
        currentLink.classList.add("active");
