
extends ../templates/layout
block content 
    div(class="content")
        div(class="content-main")
            video(class='video-js', data-setup='{"controls": true, "autoplay": "muted", "preload": "auto", "fluid": true, "aspectRatio": "16:9" }')
                source(src="../assets/videos2/area-01.mp4", type="video/mp4")
            
        div(class="content-nav")
            span 
                a(href='./zone-01-9.html') ← &nbsp; 이전
            span(class="current") 현재위치: 언어와 기호
            span
                a(href='./zone-01-11.html') 다음 &nbsp; →
block info 
    div(class="info")
        div(class="info-top")
            audio(controls autoplay)
                source(src="../assets/voice/zone-01-10.mp3", type="audio/ogg")
                | 이 브라우저는 오디오를 지원하지 않습니다.
            h5 말로 하는 털고르기, 언어
            p 언어의 발생에 대한 가설을 체험형 영상으로 표현한 곳입니다. 관람객들이 화면 가까이 가시면 그림자 속에서 영상이 그려집니다. 연구자들은 주먹도끼와 같은 석기를 만들 때, 대형 동물을 사냥할 때, 불자리에 여러 사람이 모였을 때 인류가 의사소통을 하였을 것으로 추정합니다. 
        div(class="info-bottom")
block footer
    script(src="../js/endNext.js")
    script. 
        const currentLink = document.querySelector("#nav-2");
        currentLink.classList.add("active");
