extends ../templates/layout
block content 
    div(class="content")
        div(class="content-main")
            video(class='video-js', data-setup='{"controls": true, "autoplay": "muted", "preload": "auto", "fluid": true, "aspectRatio": "16:9" }')
                source(src="../assets/videos/1_wall 03.mp4", type="video/mp4")
            
        div(class="content-nav")
            span 
                a(href='./zone-00-12.html') ← &nbsp; 이전
            span(class="current") 현재위치: 벽면
            span
                a(href='./zone-00-index.html') 다음 &nbsp; →
block info 
    div(class="info")
        div(class="info-top")
            h5 몸으로 본 인간
            p 인류는 700만 년 동안 두 발로 직립보행을 하게 되었습니다. 이후에 두 손의 사용, 신체비율의 변화, 두뇌 확장 등의 변화가 일어났습니다. 인류는 걷기 시작하면서 불안정한 무게 중심 때문에 넘어지는 사고가 많아지고 척추 질환도 앓게 되었으며 출산할 때 극심한 통증을 감수해야 했습니다. 몸무게를 지탱하는 하중 때문에 무릎, 허리, 목 등에 질환이 발생하고 복통, 심장병, 혈액순환 장애가 생겼습니다.
            span.divider
            h5 문화로 본 인간
            p 고인류 화석과 함께 발견되는 석기, 사냥, 불과 요리의 흔적에서 인류가 이룩한 문화적인 측면에도 눈을 돌리게 되었습니다. 인류의 도구 사용은 330만 년 전 무렵부터 확인됩니다. 석기를 이용하여 이전에는 다루기 어려웠던 짐승의 고기, 골수 등을 섭취할 수 있었습니다. 그리고 불은 추운 환경에서도 인류의 생존 가능성을 높여 주었으며, 에너지 효율이 높은 화식(火食)을 가능하게 해 주었습니다. 언어는 소통의 효율을 극대화하여 대규모의 집단을 이루고, 문명의 발전이 가능하도록 해 주었습니다.
            span.divider
            h5 유전자로 본 인간
            p 인류의 진화 과정에 대한 아프리카 기원설, 다지역기원설과 유전자 연구에 의한 이브 가설 등은 이러한 여러 고인류 간의 관계를 바라보는 다양한 시각이 존재함을 보여줍니다. 최근 학계에서는 호모 사피엔스, 네안데르탈인, 데니소바인 등 호미닌 사이에서 여러 차례에 걸쳐 ‘이종 교배’가 일어난 것으로 보고 있습니다. 현대 유럽인과 아시아인의 유전자에서 네안데르탈인의 유전자가 1~4% 정도 포함된 것으로 알려졌습니다. 유전자 연구가 진전될수록 우리가 모르는 고인류와의 관계를 더욱 자세히 알게 될 것입니다.
        div(class="info-bottom")
block footer
    script(src="../js/endNext.js")
    script. 
        const currentLink = document.querySelector("#nav-1");
        currentLink.classList.add("active");