extends ../templates/layout
block content 
    div(class="content full-width")
        div(class="content-main fill")
            video(class='video-js', id='videojs-vr-player', data-setup='{"controls": true, "autoplay": true, "preload": "auto", "fill": true }')
                source(src="../assets/videos2/VR_cave.mp4", type="video/mp4")
            
        div(class="content-nav")
            span 
                a(href='./zone-01-15.html') ← &nbsp; 이전
            span(class="current") 현재위치: 실감콘텐츠 ‘함께하는 여정’
            span
                a(href='./zone-01-index.html') 다음 &nbsp; →

block footer
    script(src="../pre-js/videojs-vr.js")
    script(src="../pre-js/video360.js")
    script(src="../pre-js/modal360.js")
    script(src="../js/endNext.js")
    script. 
        const currentLink = document.querySelector("#nav-2");
        currentLink.classList.add("active");