doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 호모사피엔스 - 국립중앙박물관
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", 
            href="https://use.fontawesome.com/releases/v5.15.4/css/all.css", 
            integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm",
            crossorigin="anonymous")
    body
        
        nav
            ul 
                li 
                    h6 
                        a(href="/index.html") 호모사피엔스:
                li 
                    p 
                        a(href="/html/zone-00.html") 대기공간
        main
            block content
            block info
        script(src="https://vjs.zencdn.net/7.15.4/video.min.js")
        block footer
        
        