doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 호모사피엔스 - 국립중앙박물관
        link(rel="stylesheet", href="../css/style.css")
        link(rel="stylesheet", 
            href="https://use.fontawesome.com/releases/v5.15.4/css/all.css", 
            integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm",
            crossorigin="anonymous")
        
    body
        
        nav
            ul 
                li 
                    h6 
                        a(href="../index.html") 호모사피엔스:
                li 
                    p 
                        a(id="nav-lobby", href="../html/zone-00.html") 로비
                li 
                    p 
                        a(id="nav-wait", href="../html/zone-00-1.html") 대기공간
                li 
                    p 
                        a(id="nav-1", href="../html/zone-00-2-intro.html") 기획1실
                li 
                    p 
                        a(id="nav-c", href="../html/zone-01.html") 연결로
                li 
                    p 
                        a(id="nav-2", href="../html/zone-01-1-intro.html") 기획2실
                li 
                    p 
                        a(id="nav-end", href="../html/zone-03.html") 자료실
        main
            block content
            block info
        script(src="https://vjs.zencdn.net/7.15.4/video.min.js")
        block footer
        
        