doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 호모사피엔스 - 국립중앙박물관
        link(rel="stylesheet", href="./css/style.css")

        link(rel="stylesheet", 
            href="https://use.fontawesome.com/releases/v5.15.4/css/all.css", 
            integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm",
            crossorigin="anonymous")
    body(style="background-color: #f1f1f1;")
        div#ieCheck
            div#ieCheck--inner
                h6 
                    | 본 페이지는 익스플로러를 지원하지 않습니다. 
                    br
                    | 아래 링크에서 새로운 브라우저를 설치해주세요.
                a(href="https://www.microsoft.com/ko-kr/edge", target="_blank", class="link-btn") 
                    span Microsoft Edge 다운로드
                a(href="https://www.google.com/intl/ko/chrome/", target="_blank", class="link-btn") 
                    span Google Chrome 다운로드
                a(href="https://www.mozilla.org/ko/firefox/new/", target="_blank", class="link-btn") 
                    span Mozilla Firefox 다운로드
                
        div(class="main-wrap", id="main-wrap")
            div.intro
                div.intro__title
                    h1 호모사피엔스:
                div.intro__desc
                    div.intro__desc-left
                        p 진화∞
                        p 관계＆
                        p 미래？
                    div.intro__desc-right.eng-font
                        p HOMOSAPIENS:
                        p EVOLUTION&infin;
                        p RELATIONSHIP&#xFF06;
                        p FUTURE&#xFF1F;
                div.intro__button.btn-wrap
                    a(href='./html/zone-00.html')
                        span.btn-md 관람하기
            div.intro-bg
            div.intro-video
                video(class="video-js", data-setup='{"controls": false, "autoplay": "muted", "preload": "auto","fill": true,"loop" : true}')
                    source(src='./assets/videos/1_timelapse.mp4' type='video/mp4')
        script(src="https://vjs.zencdn.net/7.15.4/video.min.js") 
        script(src="./pre-js/ieCheck.js") 